<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mad Libs Form</title>
</head>
<body>
    <h1>Mad Libs!</h1>
    <form action= "/story">
        <input name = "place" placeholder = "place"></input>
        <input name = "noun" placeholder = "noun"></input>
        <input name = "verb" placeholder = "verb"></input>
        <input name = "adjective" placeholder = "adjective"></input>
        <input name = "plural_noun" placeholder = "plural noun"></input>
        <input type = "submit" value = "submit"></input>
    </form>
</body>
</html>